* {
    font-family: monospace;
    font-weight: normal;
}

body {
    background: floralwhite;
}

header {
    text-align: center;
    font-size: large;
    top: 0;
}

footer {
    bottom: 0
}

header,
footer {
    z-index: 10;
    width: 100%;
    position: fixed;
    color: black;
    background-color: lavender;
    left: 0;
}

tr * {
    margin-top: 4%
}

td * {
    margin-bottom: 4%
}

input,
svg {

    border: 2px solid mediumpurple;
    border-radius: 5px;
    background-color: white;
}
input[type=radio] {
    margin: 2px;
}

button {
    color: white;
    margin: 20px 5px 0;
    border-radius: 6px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
}